body {
  display: flex;
  flex-flow: column nowrap;
}

.input,
.label {
  width: 80vw;
}

.input {
	height: 100px;
}

.elem {
	margin-top: 10px;
}

@media print {
  .input {
    display: none;
  }

  .label {
  	border: none;
  }
}
